.section-title {
  margin-left: 10px;
  margin-bottom: 0px;
}

.section-title-right {
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: right;
}

.report-item {
  margin: 0px !important;
  padding: 10px;
}

.customer-item {
  margin-bottom: 15px;
}

.item-note {
  font-size: 18px;
}

.customer-note {
  margin-left: 5px; float: right;
}

ion-progress-bar {
  height: 10px;
  border-radius: 25px;
}

.icon-select-range {
  width: 24px;
  height: 24px;
}
