<app-header [backButton]="true" [titlePage]="'Yeah! Asistente virtual'"></app-header>

<ion-content class="ion-padding">
  <div>
    <ion-card>
      <img class="grayscale" src="assets/images/ia.jpeg" alt="">
      <ion-card-content>
        <strong>Yeah! es la "Inteligencia artificial" de Yeasy de última generación.</strong><br><br>

        Yeah! te ofrece consejos en base a los datos recopilados de manera
        anónima.<br>
        Te ayudará con:<br>
        - Las mejores fechas para lanzar campañas de publicidad.<br>
        - Estudio de precios segun su sector y competencia.<br>
        - Destacar sus servicios y productos estrella.<br>
        - Fechas recomendadas para dar vacaciones a empleados.<br>
        - Fechas recomendadas para ampliar personal por gran aumento de flujo de clientes.<br>
        - Días recomendados para ofertar productos por escasez de venta de los mismos.<br>
        - Con la recopilación de todos tus datos y la del resto de comercios,
        una vez pasados 12 meses desde tu suscripción se te indicarán los
        consejos citados anteriormente para que potencies las
        mejoras que Yeah! detecte en tu empresa y optimices tu negocio.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>