h2 {
  margin: 0;
}

.icon-option {
  margin-top: -25px;
  margin-right: 10px;
}

.orange-500 {
  color: rgb(249 115 22);
}

.green-300 {
  color: rgb(134 239 172);
}

.yellow-300 {
  color: rgb(253 224 71);
}
