.colorItem {
  --inner-padding-end: 0;
}
ion-datetime {
  background-color: white;
}

.date-item {
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding: 0;
}

ion-datetime {
  max-width: 100%;
}
