<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <ion-text>
    <h3 style="padding-left: 8%;">Recupera tu contraseña</h3>
  </ion-text>


  <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">

    <ion-item mode="ios" class="textbox">
      <ion-label>Correo</ion-label>
      <ion-input formControlName="currentEmail" type="email" inputmode="email"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button [disabled]="forgotPasswordForm.invalid" type="submit" expand="block" color="dark">
     Cambiar contraseña
    </ion-button>
  </form>
</ion-content>
