.customer-card {
  padding: 0;
  .customer-row {
    border-radius: 15px;
    .customer-image {
      background-color: rgb(239, 239, 239);
      padding: 0;
    }
    .icon-container {
      margin-top: 190%;
      text-align: center;
    }
    .customer-label {
      float: left;
      position: relative;
      top: 40%;
      left: 20%;
    }
  }
}

ion-content {
  --background: rgb(255, 255, 255);
}

ion-item {
  --inner-border-width: 0px;
}
