<app-header [backButton]="true" [titlePage]="'Vacaciones'"></app-header>

<ion-content fullscreen="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-item id="open-start-day" mode="ios" class="textbox" no-lines lines="none">
      <ion-label mode="ios">Fecha Inicio</ion-label>
      <ion-input type="text" class="ion-text-center"
        [value]="dateService.formatDateLanguage(form.controls['startDay'].value, locale)"></ion-input>
      
        <ion-modal id="open-modal-calendar" initialBreakpoint="0.50" trigger="open-start-day">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Fecha inicio</ion-title>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="dismissModal('open-modal-calendar')">Aceptar</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-datetime #datetime locale="es-ES" first-day-of-week="1" (ionChange)="dateChangedInit(datetime.value)"
              presentation="date" size="cover" formControlName="startDay">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item id="open-end-day" mode="ios" class="textbox" no-lines lines="none">
      <ion-label mode="ios">Fecha final</ion-label>
      <ion-input type="text" class="ion-text-center"
        [value]="dateService.formatDateLanguage(form.controls['endDay'].value, locale)"></ion-input>
        
        <ion-modal id="open-end-modal-calendar" initialBreakpoint="0.50" trigger="open-end-day">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Fecha inicio</ion-title>
              <ion-buttons slot="end">
                <ion-button color="dark" (click)="dismissModal('open-end-modal-calendar')">Aceptar</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-datetime #datetimeEnd first-day-of-week="1" locale="es-ES" [min]="form.controls['startDay'].value"
              (ionChange)="dateEndChanged(datetimeEnd.value)" presentation="date" size="cover" formControlName="endDay">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>

  </form>
</ion-content>
<app-alert #deleteAlert (actionEmitter)="alertBox($event)" [title]="'¿Desea borrar?'"></app-alert>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="isEdit" (click)="openAlert()">
        <ion-button class="btn" expand="block">
          <ion-icon icon="trash"></ion-icon>
        </ion-button>
      </ion-col>
     
      <ion-col>
        <ion-button (click)="onSubmit()" [disabled]="!form.valid" class="btn" expand="block">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
