<div class="birth-selector">
  <div class="grid grid-cols-2 gap-4 p-4 md:p-8  relative top-[19vh]">
    <div class="col-start-1 box w-full"></div>
    <div class="col-start-2 box w-full"></div>
  </div>
  <div class="grid grid-cols-2 p-4 md:p-8 mt-[-25%] h-full">
    <div class="mr-3 time-selector">
      <swiper
        [initialSlide]="getInitialHourSlide()"
        [direction]="'vertical'"
        [spaceBetween]="10"
        [effect]="'coverflow'"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [coverflowEffect]="{
          rotate: 0,
          stretch: 0,
          depth: 0,
          modifier: 1,
          slideShadows: false
        }"
        class="swiper hours"
        (transitionEnd)="onSlideChange($event)"
      >
        <ng-template
          class="slide-hours"
          *ngFor="let hour of hourCollection"
          swiperSlide
        >
          <div [attr.value]="hour">{{ hour }} h</div>
        </ng-template>
      </swiper>
    </div>
    <div class="ml-3 time-selector">
      <swiper
        [initialSlide]="getInitialMinutesSlide()"
        [direction]="'vertical'"
        [spaceBetween]="10"
        [effect]="'coverflow'"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [coverflowEffect]="{
          rotate: 0,
          stretch: 0,
          depth: 0,
          modifier: 1,
          slideShadows: false
        }"
        class="swiper minutes"
        (transitionEnd)="onSlideChange($event)"
      >
        <ng-template
          class="slide-minutes"
          *ngFor="let minute of minuteCollection | async"
          swiperSlide
        >
          <div [attr.value]="minute">{{ minute }} min</div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
