<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="px-8 text-center">
       <h1>Hola {{username}}</h1>
       <h2>Vamos a configurar su perfil para poder empezar a trabajar.</h2>
       <h2>¡Verás que <span class="font-bold">YEASY</span>!</h2>
      </div>
      <div class="px-8 bottom-8 w-full absolute">
        <ion-button (click)="goToNext()" expand="block" class="btn" >
         Empezar
        </ion-button>
      </div>
    </ion-row>
   </ion-grid>
</ion-content>
