ion-item {
  display: flex;
  align-items: center;
  padding: 5px 0px 0px 0px;
  font-weight: 200;
  img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin: 5px 5px 5px 0px;
  }
  h5 {
    margin: 0px;
    font-weight: bold;
    padding-left: 10px;
  }
  p {
    margin: 3px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--ion-color-medium);
  }
}
