<app-header [backButton]="true" [titlePage]="'Notificaciones'"></app-header>

<ion-content>
  <ion-list>
    <ion-item-group
      *ngFor="let item of notificationsCollection; let i = index"
      inset="true"
      [class]="'order-'+(5-i)"
    >
      <ion-item-divider>
        <ion-label slot="start">{{item[0]}}</ion-label>
      </ion-item-divider>
      <ion-item
        class="m-2 rounded-md drop-shadow-lg"
        (click)="goToDetail(notification)"
        [ngClass]="notification.isRead ? '': 'border-black border border-solid'"
        *ngFor="let notification of item[1] "
        button="true"
      >
        <ion-icon
          *ngIf="notification.type === 'Book'"
          slot="start"
          name="calendar-clear-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="notification.type === 'Review'"
          slot="start"
          name="chatbox-ellipses-outline"
        ></ion-icon>
        <ion-label>
          <div class="w-full flex justify-between">
            <p class="text-md">{{notification.title}}</p>
            <p class="float-right">
              {{notification.createdAt | date: 'HH:mm'}}
            </p>
          </div>
          <ion-note>
            <p class="text-sm">{{notification.body}}</p>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-card *ngIf="notificationsCollection.length === 0" class="no-data-card">
    <ion-card-header>
      <ion-card-title class="card-title">¡Estás al día!</ion-card-title>
      <ion-card-subtitle class="ion-text-center">No tienes ninguna notificación pendiente</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
