ion-content, ion-item {
  --background: #9bfab0;
  --color: white;
}
.payment-confirmed {
  margin-top: 50%;
  text-align: center;

  .payment-icon {
    font-size: 128px;
  }
  h1,h2 {
    color: white;
  }
  .filter {
    filter: invert(1);
  }
}

.accept-button {
  margin: 20px 20px 40px 20px !important;
}

ion-footer {
  background: #9bfab0 !important;
}
